<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167785635-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167785635-1');
</script>
<link rel="shortcut icon" type="image/x-icon" href="logo.ico" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind&family=Inconsolata&display=swap" rel="stylesheet">
<div class="progress-bar" id="progressBar"></div>  
<script>
    window.addEventListener('scroll', handleScroll);

    function handleScroll() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;  
        var scrolled = (winScroll / height) * 100;
    
        document.getElementById("progressBar").style.width = scrolled + "%";
    }
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PSK2XLS');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Home Depot Internship | Nikita George Portfolio</title>
	<meta name="Author" content="Nikita George"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="hd1.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">

</head>
<body id="google">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSK2XLS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav>
    <input type="checkbox" id="res-menu">
    <label for="res-menu">
        <i class="fa fa-hand-o-down" id="sign-one"></i>
        <i class="fa fa-hand-o-up" id="sign-two"></i>
    </label>
    <!-- <a href="../index.html"><img class="logo" src="../images/logo.png" alt="Nikita George Logo"></a> -->
    <ul>
        <li><a class="link" href="https://github.com/nikitag9" target="_blank">Github</a></li>
        <li><a class="link" href="NikitaGeorgeResume_2023.pdf" target="_blank">Resume</a></li>
    </ul>
    <div class="image-container">
        <a href="index.html"><img src="logo.png" img class="logo" rel="icon" alt="Your Image"></a>
      </div>
</nav>

    <img class="fit hidden-mobile" src="gtriheader.png">
    <img class="fit visible-mobile" src="../images/graphic/google/google_banner_mobile.jpg">
<main>
    <div class="cursor-container">
        <div class="cursor"></div>
      </div>
      <div class="content">

     <div class="three-columns-grid">
    <div>
    <h2 id="top">Team</h2>
    <p> Aerospace and Acoustics Technologies Division</p>
    </div>


    <div>
    <h2>Role</h2>
    <p>UX Design Intern</p>
    </div>

    <div>
        <h2>Timespan</h2>
        <p>May 2023- now</p>
    </div>

    <div>
        <h2>Tools</h2>
        <p>React<br> xCode<br>MongoDB</p>
    </div>
    </div>


    <p>Unfortunately I cannot share my work, but as a UX intern for the Georgia Tech Research Institute, I am currently creating an iOS newsfeed app that allows users to post messages, pictures, videos, and polls. It also allows users to reply and like posts and directly message other users. It is created in React in xCode and uses MongoDB with FastAPI as its database. Feel free to email me with any questions about the project!
    </p>

    
    <!-- <div class="three-columns-grid">
        <div>
          <img class="fit" src="../images/graphic/google/photo1.jpg" alt=" ">
        </div>

        <div>
            <img class="fit" src="../images/graphic/google/photo2.jpg" alt="My farewell team lunch">
        </div>

        <div>
            <img class="fit" src="../images/graphic/google/photo3.jpg" alt="Me and UX researchers">
        </div>
</div> -->




<!-- <h2>Check out similar projects that may interest you</h2>
<div class="three-columns-grid">
        <div class="home-item">
          <a class="img-hover-zoom" href="../schoolhouse/index.html"><img class="fit" src="../images/graphic/HOME-1.jpeg" alt="Schoolhouse.world dashboard design">
          </a>
        </div>

        <div class="home-item">
            <a class="img-hover-zoom" href="../nickelodeon/index.html"><img class="fit" src="../images/graphic/home-10.jpg" alt="An iPad app for kids">
            </a>
        </div>

        <div class="home-item">
            <a class="img-hover-zoom" href="../msp/index.html"><img class="fit" src="../images/graphic/msp-header.png" alt="Minnesota Street Project Visual Identity Redesign">
            </a>
        </div>
</div> -->
</div>




</main>

<footer class="footer">
<div class="list">
    <a class="link" href="https://www.linkedin.com/in/nikita-george-8057761b9/" target="_blank">LinkedIn</a>
    <a class="link" href="mailto:nikitag@gatech.edu" target="_blank">Email</a>
  </div>
</footer>


    <script>
    (function () {
        "use strict";
    
        function swapStyle() {
            var el = document.querySelector('nav');
            el.classList.toggle('show');
        }
    
        var menu = document.querySelectorAll('.menu-btn');
        for (let item of menu) {
            item.addEventListener('click', swapStyle);
        }
        
        
    })();
    
    </script>
<script>

    const cursor = document.querySelector('.cursor');

   document.addEventListener('mousemove', e => {
       cursor.setAttribute("style", "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;")
   });

   document.addEventListener('click', e => {
       cursor.classList.add("expand");
       setTimeout(() => {
           cursor.classList.remove("expand");
       }, 500);
   });

   $("#restart").queue(function() {  
       var original = $(this);
       var newClass = original.clone(true);
       setInterval(function() {
           original.before(newClass);
           $("." + original.attr("class") + ":last").remove();
       },47000);
   });
</script>
<script>
    console.log("hey");
    window.addEventListener('scroll', () => {
        const content = document.querySelector('.content');
            const rect = content.getBoundingClientRect();

            if (rect.top < window.innerHeight && rect.bottom > 0) {
                content.style.opacity = 1;
            } else {
                content.style.opacity = 0;
            }
    });



</script>

</body>
</html>
