@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:300,700&display=swap");
h1 { 
  font-family: 'Libre Baskerville', "Times New Roman", serif; 
  font-size: 32px;
}
  h2 { 
    font-family: 'Libre Baskerville', "Times New Roman", serif; 
    font-size: 28px; 
}
  h3 { 
    font-family: 'Libre Baskerville', "Times New Roman", serif; 
    font-size: 24px; 
}
  h4 { 
    font-family: 'Libre Baskerville', "Times New Roman", serif; 
    font-size: 22px; 
}
  h5 { 
    font-family: 'Libre Baskerville', "Times New Roman", serif; 
    font-size: 18px; 
}
  p { 
    font-family: 'Source Sans Pro', "Arial", sans-serif; 
    font-size: 20px; 
    margin: 0; 
}
  .h-100vh { 
    height: 100vh; 
}
  .sub-text { 
    font-family: 'Source Sans Pro', "Arial", sans-serif; 
    font-size: 24px; 
}
  .owl-theme .owl-controls .owl-buttons .owl-prev { 
    margin-left: -6%; 
}
  .owl-theme .owl-controls .owl-buttons .owl-next { 
    margin-right: -5%; 
}

 .owl-carousel.main-carousel h2 { 
    font-family: 'Source Sans Pro', "Arial", sans-serif; 
    font-size: 50px; 
    line-height: 1; 
}
  .owl-carousel.main-carousel h2 span { 
    font-size: 53px; 
    font-weight: 600; 
}
  .main-carousel .slider-img { 
    width: 100%; 
}
  .main-carousel .slider-img img { 
    margin: auto 0; 
}
  .carousel-wrap { 
    margin: 90px auto; 
    padding: 0 5%; 
    width: 80%; 
    position: relative; 
}

.carousel-control { 
  background: none !important; 
}

/* fix blank or flashing items on carousel */
.owl-carousel .item { 
  position: relative; 
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}
.owl-carousel.main-carousel .owl-dots { 
  text-align: center; 
  padding-top: 10px; 
}

/*-----slider-------*/
.owl-carousel.main-carousel .owl-dots .owl-dot { 
  border-radius: 50%; 
  width: 15px; 
  height: 15px; 
  margin-left: 2px; 
  margin-right: 2px; 
  background: #ccc; 
  border: none; 
}

.owl-carousel.main-carousel .owl-dots .owl-dot.active, .owl-carousel.main-carousel .owl-dots .owl-dot:hover { 
  background: #1AA8E2; 
}
.owl-nav > div { 
  margin-top: -26px; 
  position: absolute; 
  top: 50%; 
  color: #cdcbcd; 
}
.owl-nav i { 
  font-size: 52px; 
}
div.owl-buttons { 
  display: table; 
  height: 15vh; 
}
.owl-buttons { display: block; }

.owl-carousel:hover .owl-buttons { display: block; }

.carousel-inner { overflow: visible; }

.owl-item { text-align: center; }

.owl-theme .owl-controls .owl-buttons div { background: transparent; color: #869791; font-size: 40px; line-height: 300px; margin: 0; position: absolute; top: 0; }

.owl-theme .owl-controls .owl-buttons .owl-prev { left: 0; margin-left: -8%; }

.owl-theme .owl-controls .owl-buttons .owl-next { right: 0; margin-right: -8%; }
