#myVideo {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100px;
  z-index: -1;
}

body {
  font-family: "Garamond", serif;
  margin: 0;
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: #f8f8f8; /* Set off-white background color */
  overflow: hidden;
}

.content {
  font-family: "Garamond", serif;
  padding-top: 100px;
  font-size: 1rem;
  color: white;
  text-align: center;
  min-height: calc(100vh - 100px);
  overflow-y: auto;
}

.wrapper-parallax {
  margin-top: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Set floating box background color */
  z-index: 1;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.9); /* Set floating box background color */
}

h1 {
  font-family: "Garamond", serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid white;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
  color: grey;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage {
  left: 0;
}

#heightScroll {
  right: 0;
}

footer {
  width: 50%; /* Set footer width to half the current width */
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.wrapper-parallax footer {
  width: 100%; /* Override footer width for parallax effect */
}

.wrapper-parallax footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: -1;
  opacity: 0.5;
}

.content h1 {
  line-height: 200px;
  color: #999;
}

header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
