  #myVideo {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
  }
  #pos {
    position: relative;
  }
  body {
    font-family: "Garamond", serif;
    margin: 120px;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
/*   .container {
    display: grid;
    grid-template-columns: 1fr;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  } */
  
/*   .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  } */
  .content-wrapper {
    padding: 0px 15px 20px 15px;
  }
  .left-side {
    display: flex;
  }
  a {
    color: white;
  }
  .nav-wrapper > .left-side > div {
    margin-right: 100px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 12px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid white;
  }

  .nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid white;
  }
  
  .nav-link-wrapper a:hover {
    color: grey;
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  
  
